@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.file-caption-icon {left: 0px !important;}
.centertext th, .centertext td {
    text-align: center;}
.computer {
    display:block;
}
.mobile {
    display:none;
}
img.brand {
    max-height:50px;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .computer {
        display:none;
    }
    .mobile {
        display: block;
    }
    footer .copyright {
        padding: 0px !important;
    }
}

div.branding {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index:99999;
}

.timingsquiz div.form-group {
    /*width: unset;*/
    /*float: right;*/
    margin: 0px;
}

#timingsfixed {display: none;}
/*#timingsquiz .form-control {width: unset;}*/

ul#sortable.ui-sortable {
    list-style: none;
    padding-left: 5px;
}

ul#sortable.ui-sortable li{
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(197, 197, 197, 0.24);
    background: rgba(246, 246, 246, 0.61);
    color: #222222;
}

ul#sortable.ui-sortable li span.ui-icon {
    position: relative;
    left:-10px;
}